*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #001219;
    font-family: 'Poppins';
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #005F73;
    
     .logo{
        color: white;
        letter-spacing: 5px;
        font-size: 20px;    
        cursor: pointer;
        span{
            color: black;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
    ul{
        list-style: none;
        display: flex;
        color: white;
        margin-right: 3em;
        cursor: pointer;
        #contact{
            font-weight: bold;
            border-bottom: 2px solid;
        }
        li{
            margin: 0 1em;
        }
    }
    .mobile-menu{
        display: none;
    }
}

.contact{
    width: 70%;
    margin: 1em auto;
    padding: .5em 2em;
    border-radius: 10px;
    h1{
        font-weight: bold;
        margin: .7em 0;
    }
}

.form{
    width: 60%;
    margin: 3em auto 0 auto;
    display: flex;
    
    .left-col{
        width: 50%;
        margin-right: 2em;
        input{
            margin-bottom: 2em;
            font-size: 14px;
            font-family: 'Poppins';
            width: 100%;
            padding: .7em;
            border: none;
            border-bottom: 2px solid orchid;
        }
    }
    .right-col{
        width: 50%;
        input{
            margin-bottom: 2em;
            font-size: 14px;
            font-family: 'Poppins';
            width: 100%;
            padding: .7em;
            border: none;
            border-bottom: 2px solid orchid;
        }
    }  
}

.message{
    width: 60%;
    margin:auto;
    textarea{
        font-size: 14px;
        font-family: 'Poppins';
        width: 100%;
        padding: .7em;
        border: none;
        border-bottom: 2px solid orchid;
        margin-bottom: 2em;
    }
    .send-message-cta{
        background-color: #005F73;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: none;
        margin-bottom: 5em;
        border-radius: 15px;
        display: inline-block;
        padding: .8em 2em;
        width: unset;
        cursor: pointer;
    }
}

.footer-section{
    display: flex;
    //margin: auto;
    background: #005F73;
    .footer-left{
        margin: auto;
        margin-right: 5em;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .footer-right{
        margin: auto;
        margin-left: 5em;
        padding: 1em 0;
        font-size: small;
    }
}

@media only screen and (max-width: 768px){

    .mobile-menu{
        display: none;
    }
    .navBar{
        .logo{
            margin-left: 2em;
        }
    }

    .contact{
        width: 80%;
    }
    .form{
        display: block;
        margin: auto;
        .left-col,.right-col{
            width: 100%;
        } 
    }
}

@media only screen and (max-width: 600px){
    .navBar{
        ul{
            display: none;
        }
        .mobile-menu{
            display: flex;
            margin-right: 1em;
        }
        .logo{
            margin-left: .3em;
        }
    }
    .contact{
        width: 90%;
    }
    .form{
        width: 80%;
    }
    .message{
        width: 80%;
    }
    .footer-section{
        display: flex;
        margin: auto;
        background: #005F73;
        .footer-left{
            margin: auto;
            img{
                width: 40px;
                height: 40px;
            }
        }
        .footer-right{
            margin: auto;
            padding: 1em 0;
            font-size: small;
        }
    }

}